<!DOCTYPE html>
<html lang="en">
<head>
    <title>Recruiters Page</title>
    {% include 'bootstrap.html' %}
    <!-- <link rel="stylesheet" type="text/css" href="../static/css/styles.css"> -->
</head>
<body class="d-flex flex-column min-vh-100 bg-primary-subtle text-primary-emphasis">
    {% include 'nav.html' %}
    <!-- {% include 'banner.html' %} -->

    <div class="d-flex flex-grow-1 justify-content-center align-items-center">
        <div class="p-4 mb-2 bg-primary-subtle text-primary-emphasis border rounded text-center">
            <h1>Welcome to Sovian Careers</h1>
            <div class="firstpage">
                <a type="button" class="btn btn-secondary m-2" href="/add_jobs">Add Jobs</a>
                <a type="button" class="btn btn-secondary m-2" href="/see_applicants">Applicants</a>
            </div>
        </div>
    </div>

    <footer class="mt-auto">
        {% include 'footer.html' %}
    </footer>
</body>
</html>
